<?xml version="1.0" encoding="UTF-8"?>


<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>WebGL Earth Test</name>

    <description>
        WebGL Earth Test
    </description>

    <author href="http://www.atgard.se" email="micke@atgard.se">
        WebGL Earth Test
    </author>
	
	<preference name='phonegap-version' value='cli-5.1.1' />
	
	<gap:plugin name='org.crosswalk.engine' version='1.3.0' source='pgb' />
	
	<gap:plugin name="com.rjfun.cordova.httpd" version="0.9.0" />
	
	<icon src="icon.png" />
	
	
	</widget>